<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gamertag %><br />
    <%= f.text_field :gamertag %>
  </div>
  <div class="field">
    <%= f.label :service_tag %><br />
    <%= f.text_field :service_tag %>
  </div>
  <div class="field">
    <%= f.label :games_total %><br />
    <%= f.text_field :games_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
