<p id="notice"><%= notice %></p>

<p>
  <b>Gamertag:</b>
  <%= @player.gamertag %>
</p>

<p>
  <b>Service tag:</b>
  <%= @player.service_tag %>
</p>

<p>
  <b>Games total:</b>
  <%= @player.games_total %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
