<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>

	<div class="current">
		<%- if show_title? -%>
		<div class ="toolbar">
		  <%= link_to h(yield(:backlbl)), h(yield(:backlink)), :class => "back" unless current_page? root_path %>
		  <h1><%=h yield(:title) %></h1>
		  <%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %>
		  <%= yield(:toolbar) %>
		</div>
		<%- end -%>

	    <%= yield %>

	  </div>
  </body>
</html>
