<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "scaffold", "application", "formtastic" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <h5 id="logo">
        <%= link_to "Platoon", root_url %>
      </h5>
    </div>
    <div id="navbar">
      <ul>
        <li> 
          <%= link_to "Stats" %>
        </li>
        <li> 
          <%= link_to "Schedule" %>
        </li>
        <li> 
          <%= link_to "Tactics" %>
        </li>
        <li> 
          <%= link_to "Recruit" %>
        </li>
        <li> 
          <%= link_to "Manage" %>
        </li>
       </ul>
      </div>
    <div id="container">
      <%= link_to "Mobile Site", root_url(:mobile => 1) %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
